* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.slider {
  width: 100%;
  position: relative;
  /* height: 50vh; */
}
.slider img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

/* .slider button {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  background: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
} */
.next-btn,
.prev-btn {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.568);
  border: none;
  cursor: pointer;
}
.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
